.contact{
    margin-top: 50px;
    margin-left: 350px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid black;
}


a {
    color: rgb(10, 10, 10);
    text-decoration: none;
  }

  .tag:hover{
    transform: scale(1.05);
        transition: 0.5s;
  }

  .contactInfo1 .contactInfo2  .contactInfo1{
    width: fit-content;
    margin-left: 180px;
  }
  .contactInfo1 img{
    margin-left: -2px;
  }

