.navbar{
    background-color:  #800a05 ;
    height: 50px;
}
.list-item{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-content: space-around;
    padding-top: 15px ;
}


.link{
    color: white;
}

.link:hover{
    color:  #df7711 ;
    transform: scale(1.15);
    transition: 0.5s;
}