

.all{
    margin-top: 50px;
    margin-left: 350px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    text-align: center;
    border: solid 1px black;
}


.pern{
    display: flex;
    justify-content: space-evenly;
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}